@import './reset';

.app-container {
    width: calc(100vw - 50px);

    @media only screen and (max-width: 600px) {
        width: calc(100vw - 20px);
    }
}

.highcharts-grid-line, .highcharts-credits, .highcharts-title, .highcharts-axis-title {
    opacity: 0 !important;
}

.highcharts-legend-box {
    fill: #15161b;
}
.highcharts-legend-item  {
    text {
        fill: #dadadd !important;
    }
    .highcharts-point {
        display: none;
    }
}

.highcharts-point {
    cursor: pointer;
}

.highcharts-axis-line {
    stroke: #616264;
}

